.form-search {
    margin-bottom: 20px;
    flex-grow: 1;
}

.input-city {
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
}